{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="cont">

    <div class="form sign-in">
        <h2>Welcome to Twitter Clone</h2>
        <button type="button" onclick="location.href='/login';" class="submit">Join Us</button>
    </div>

    <div class="sub-cont">
        <div class="img">
            <div class="img__text m--up">
                <h2>New here?</h2>
                <p>Sign up and discover great amount of new opportunities!</p>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock content %}